.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 20px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    line-height: 1.3;
    text-decoration: none;
    color: inherit;
}

.menu__item:visited {
    color: var(--black);
}

.menu__counter {
    font-size: 12px;
    line-height: 2.2;
    font-weight: 600;
    border: 1px solid var(--black);
    border-radius: 100%;
    padding: 0px 10px;
}